<?xml version="1.0" encoding="UTF-8"?>
    <configuration>
        <system.webServer>
            <staticContent>
                <remove fileExtension=".woff" />
                <remove fileExtension=".woff2" />
                <mimeMap fileExtension=".woff" mimeType="font/x-font-woff" />
                <mimeMap fileExtension=".woff2" mimeType="application/x-font-woff" />
                <clientCache cacheControlMode="NoControl" />
            </staticContent>
            <httpProtocol>
                <customHeaders>
                    <remove name="X-Powered-By" />
                    <add name="X-Powered-By" value="PHP5.6.9" />
                </customHeaders>
            </httpProtocol>
        <httpErrors>
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="default.asp" responseMode="ExecuteURL" />
        </httpErrors>
        </system.webServer>
    </configuration>
