<extend file="../layout/layout.html" />
<selection name="title">文件管理器-驱动器列表</selection>
<selection name="header"></selection>
<selection name="body">
	<div class="panel panel-primary">
		<div class="panel-heading"> 
			<h3 class="panel-title">文件管理器</h3>
		</div>
		<div class="panel-body">
			hello world
		</div>
		<div class="list-group">
			<nempty name="drives">
				<li class="list-group-item list-group-item-info">Drive列表</li>
				<for name="drives">
					<eq name="value.isReady" value="true">
						<a href="{$U('Home/Index','Path='+\{$@value.path:F.encode\}+'\\')}" class="list-group-item">
							<h5 class="list-group-item-heading">
								<span class="glyphicon <expression and="value.type eq 4">glyphicon glyphicon-cd<else and="value.type eq 1" />glyphicon-ice-lolly</else>glyphicon-floppy-disk</expression>" aria-hidden="true"></span> <strong><nempty name="value.volumename">{$value.volumename}</else>{$value.type:VolumenameAuto}</nempty>({$value.path})</strong>
							</h5>
							<h5>[Type:{$value.typeString}] [isReady:{$value.isReady}] [fileSystem:{$value.fileSystem}]</h5>
							<div class="row">
								<div class="col-md-6">
									<div class="progress">
										<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{$value.space.surplus:SizePercent=value.space.total}" aria-valuemin="0" aria-valuemax="100" style="width: {$value.space.available:SizePercent=value.space.total}%;">
											{$value.space.available:SizePercent=value.space.total}%
										</div>
									</div>
								</div>
							</div>
							<p class="list-group-item-text">{$value.space.available:SizeConvert}可用，共{$value.space.total:SizeConvert}</p>
						</a>
						<else />
						<a class="list-group-item disabled">
							<h5 class="list-group-item-heading">
								<span class="glyphicon <expression and="value.type eq 4">glyphicon glyphicon-cd<else and="value.type eq 1" />glyphicon-ice-lolly</else>glyphicon-floppy-disk</expression>" aria-hidden="true"></span> <strong><nempty name="value.volumename">{$value.volumename}</else>{$value.type:VolumenameAuto}</nempty>({$value.path})</strong>
							</h5>
							<h5>[Type:{$value.typeString}] [isReady:{$value.isReady}]</h5>
							<div class="row">
								<div class="col-md-6">
									<div class="progress">
										<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
											0%
										</div>
									</div>
								</div>
							</div>
							<h5>驱动器未准备就绪</h5>
						</a>
					</eq>
				</for>
			</nempty>
		</div>
		<div class="panel-footer">
			<include file="../public/panel_foot.html" />
		</div>
	</div>
</selection>
<selection name="foot"></selection>