<extend file="../layout/layout.html" />
<selection name="title">文件管理器-文件夹目录</selection>
<selection name="header"></selection>
<selection name="body">
	<div class="panel panel-primary">
		<div class="panel-heading"> 
			<h3 class="panel-title">文件管理器</h3>
		</div>
		<div class="panel-body">
			hello world
		</div>
		<a href="{$upath}" class="list-group-item list-group-item-danger"><span class="glyphicon glyphicon-level-up" aria-hidden="true"></span> 上级目录</a>
		<li class="list-group-item list-group-item-info">文件/文件夹重命名</li>
		<li class="list-group-item">
			<expression and="content:is_empty eq false">
				<div class="alert alert-danger alert-dismissible fade in" role="alert">
					<strong>{$content}</strong>
				</div>
				<else />
				<nempty name="info">
					<div class="alert <eq name="info.status" value="1">alert-success</else>alert-danger</eq> alert-dismissible fade in" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
						<strong>{$info.info}</strong>
					</div>
				</nempty>
				<nempty name="error">
					<div class="alert <eq name="error.status" value="1">alert-success</else>alert-danger</eq> alert-dismissible fade in" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
						<strong>{$error.info}</strong>
					</div>
				</nempty>
				<form name="input" action="{$U('Home/RName','Path='+\{$@filepath:F.encode\})}" method="POST" class="form-inline">
					<input type="hidden" name="__csrf" value="{$__csrf}">
					<div class="form-group">
						<label for="exampleNewName2">新的命名</label>
						<input type="text" name="newname" class="form-control input-sm" id="exampleNewName2" placeholder="新的命名" value="{$filepath:FileName}">
					</div>
					<button type="submit" class="btn btn-default btn-sm">修改名称</button>
				</form>
			</expression>
		</li>
		<div class="panel-footer">
			<include file="../public/panel_foot.html" />
		</div>
	</div>
</selection>
<selection name="foot"></selection>