<form class="form-horizontal" method="get" action="">
    <div class="form-group form-group-sm">
        <label class="control-label" for="formGroupInputSmall" style="padding-top: 6px;float: left; padding-left: 15px;">跳转:</label>
        <div class="col-xs-5 col-sm-3 col-md-3">
            <input type="text" name="Path" class="form-control input-sm" id="exampleInputName2" placeholder="跳转目录" value="{$path}">
        </div>
        <button type="submit" class="btn btn-default btn-sm">GO</button>
    </div>
</form>
<form action="" method="get" accept-charset="utf-8" class="form-inline">
    <input type="hidden" name="Path" value="{$path}">
    <div class="form-group">
        <label for="exampleInputName2">工具：</label>
        <select name="a" class="form-control">
            <option value="Create">新建数据</option>
            <option value="1">111111</option>
            <option value="1">111111</option>
            <option value="1">111111</option>
        </select>
        <button type="submit" class="btn btn-default btn-sm">执行</button>
    </div>
</form>