<form class="form-horizontal" method="get" action="">
    <div class="form-group form-group-sm">
        <label for="formGroupInputSmall" style="padding-top: 6px;float: left; padding-left: 15px;">跳转：</label>
        <div class="col-xs-5 col-sm-3 col-md-3">
            <input type="text" name="Path" class="form-control input-sm" id="exampleInputName2" placeholder="跳转目录" value="{$path}">
        </div>
        <button type="submit" class="btn btn-default btn-sm">GO</button>
    </div>
</form>
</li>
<form action="" method="get" accept-charset="utf-8" class="form-inline">
    <div class="form-group form-group-sm">
        <label for="exampleInputName2">工具：</label>
        <select name="a" class="form-control">
            <option value="Create">新建数据</option>
            <option value="">打包文件</option>
            <option value="">批量删除</option>
            <option value="Upload">文件上传</option>
            <option value="1">终端模拟</option>
        </select>
        <input type="hidden" name="Path" value="{$path}">
        <button type="submit" class="btn btn-default btn-sm">执行</button>
    </div>
</form>
